@model RequestResponseComposite

<!DOCTYPE html>

<html>
<head>
    <title>Api Request</title>
</head>
<body>
<partial name="_ReformatError.cshtml" model="ViewBag.Error"/>
<partial name="_ReformatResponse.cshtml" model="Model.Response"/>
<partial name="_ReformatForm.cshtml" model="Model.Request"/>
</body>
</html>