@model ValueTuple<ApiRequest, ApiResponse>

<!DOCTYPE html>

<html>
<head>
    <title>Api Request</title>
</head>
<body>
<partial name="_ReformatError.cshtml" model="ViewBag.Error"/>
<partial name="_ReformatResponse.cshtml" model="Model.Item2"/>
<partial name="_ReformatForm.cshtml" model="Model.Item1"/>
</body>
</html>