@model ApiRequest

<!DOCTYPE html>

<html>
<head>
    <title>Api Request</title>
</head>
<body>
@if (Model != null)
{
    <h1>Request content:</h1>
    <pre>@Model.Content</pre>
}
<form asp-action="Request" method="post">
    <div asp-validation-summary="All"></div>
    <p>
        <label asp-for="Content">Content:</label><br/>
        <input type="text" asp-for="Content"/>
    </p>
    <button type="submit">Submit</button>
</form>
</body>
</html>