@model LogEntry
@{
    Layout = "_Layout";
    ViewBag.Title = $"Log Entry #{Model.ID}";
}

<h1>Log Entry:</h1>
<partial name="_LogError" model="ViewBag.Error"/>
<table>
    <thead>
    <td>ID</td>
    <td>Type</td>
    <td>Created at</td>
    <td>IP</td>
    <td>Content</td>
    </thead>
    @{ ViewBag.ShowLink = false; }
    <partial name="_LogEntry" model="Model"/>
</table>