@model IReadOnlyList<LogEntry>
@{
    Layout = "_Layout";
    ViewBag.Title = "Log Entries";
}

<h1>Log Entries List:</h1>
<partial name="_LogError" model="ViewBag.Error"/>

<table>
    <thead>
    <td>ID</td>
    <td>Type</td>
    <td>Created at</td>
    <td>IP</td>
    <td>Content</td>
    </thead>
    @{ ViewBag.ShowLink = true; }
    @* ReSharper disable once UnusedVariable *@
    @foreach (var entry in Model)
    {
        <partial name="_LogEntry" model="entry"/>
    }
</table>
<h2>New log entry:</h2>
@{ ViewBag.Action = "Create"; }
<partial name="_LogForm" model="@{ new LogEntry(); }"/>